{% extends 'layout.html.twig' %}

{% block page_contents %}

    <div class="flex gap-4">
        <div class="w-1/2 ">
            <div class="">
                <img class="" src="{{ asset(product.mainImagePath) }}" alt="Main image">
            </div>
            <div class="flex justify-center mt-4">
                {%  for image in product.images   %}
                    <img class="w-24" src="{{ asset(image.path) }}" alt="Image">
                {%  endfor  %}
            </div>
        </div>
        <div class="w-1/2">
            <ul class="leading-10">
                <li><h1 class="font-bold">{{  product.name    }}</h1></li>
                <li>{{  product.condition   }}</li>
                <li>{{  product.length  }}</li>
                {% for specification in product.specifications %}
                <li>{{  specification.property  }}: {{  specification.value }}</li>
                {%  endfor  %}
                <li>Available: {{   product.getAmount   }} pieces. </li>
            </ul>
            <h3>Related products:</h3>
            <div class="flex gap-4">
                {%  for recomended in product.related   %}
                    <div class="w-40">
                        <a href="{{ path('product.index', {id: recomended.id}) }}">
                            <img src="{{ asset(recomended.mainImagePath) }}" alt="">
                        </a>
                        <a href="{{ path('product.index', {id: recomended.id}) }}">
                            <p>{{   recomended.name   }}</p>
                        </a>
                        <p>{{   recomended.price    }} $</p>
                    </div>
                {%  endfor  %}
            </div>
        </div>
    </div>

    <div class="">
        {{  product.description.text }}
    </div>



{% endblock %}