{%   props role = "header"   %}

<div{{ attributes }} class="item-cart flex gap-4 items-center font-[400]">
        <div class="flex {{ role == "header" ? 'w-24' : 'w-48'}}">
            <a href="{{ path('product.index', {id: product.id}) }}">
                <img class="object-cover" src="{{ asset(product.image) }}" alt="Server">
            </a>
        </div>
        <div class="flex grow items-center justify-between gap-2 py-4">
            <div class="flex items-center gap-2 grow">
                <div class="flex flex-col">
                    <a href="{{ path('product.index', {id: product.id}) }}">{{   product.name   }}</a>
                    {% block content %}{% endblock %}
                </div>
                {%   if role == "header"  %}
                    <twig:Cart:AmountChanger :avalible="product.avalible"/>
                {%   endif   %}
            </div>

            <div class="flex flex-col gap-2">
                {%   if role == "checkout"   %}
                    <twig:Cart:AmountChanger :avalible="product.avalible"/>
                {%   endif   %}
                <p>{{  appCurrency.display(product.price * product.quantity)|format_currency(appCurrency.getActual)  }}</p>
            </div>

            {%   if role == "header"   %}
                <label class="check_box excluded_box">
                    <input type="checkbox" data-action="live#action" data-live-action-param="delete" data-live-id-param="{{ product.id }}">
                    <span class="checkmark"></span>
                </label>
            {%   endif   %}
        </div>
</div>
