<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}
        {% block meta %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-grey-granular dark:dark:bg-black-granular bg-repeat bg-50 min-h-screen flex flex-col font-roboto" >
        <header class="w-full bg-teal-700 dark:bg-gray-900">
            <div class="flex items-center justify-between px-8">
                <a href="{{ path('homepage')  }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Менеджер задач"/>
                </a>
                <div>
                    <ul class="flex flex-row items-center justify-center h-16 text-neutral-200">
                        <li >
                            <a href="{{ path('search') }}" data-turbo-stream>Search</a>
                        </li>
                        <li class="ml-16">Shipping</li>
                        <li class="ml-16">Buy</li>
                        <li class="ml-16">Contact us</li>
                    </ul>
                    
                    <div class="w-full flex justify-center pb-4 min-w-[200px]">
                        <div class="w-full px-8">
                            <twig:Search/>
                        </div>
                    </div>
                </div>
    
                <div class="text-neutral-200 flex gap-4">
                    {%   if app.user   %}
                        <a class="btn btn-danger" value="Delete" href="{{ path('logout', {'token': csrf_token('authenticate') }) }}">
                            Log out
                        </a>
                    {%   else   %}
                        <a href="#login" data-turbo="false">Log in</a>
                    {%   endif   %}
                    <twig:Cart/>
                </div>
            </div>
            {# <div class="relative">
                <div class="locale absolute right-0 z-40">
                    <div class="flex flex-row-reverse">
                        <div class="flex justify-center items-center w-24 h-16 bg-amber-400 p">
                            Locale
                        </div>
                    </div>
                    <div class="locale_menu hidden bg-stone-200 px-8 py-4">
                        <div class="w-1/2">
                            <p>Language</p>
                            <div class="h-8 flex justify-center items-center">
                                <a href="{{   path('lang', {lang: 'en'}   )}}">English</a>
                            </div>
                            <div class="h-8 flex justify-center items-center">
                                <a href="{{   path('lang', {lang: 'cz'}   )}}">Česky</a>
                            </div>
                        </div>
                        <div class="w-1/2">
                            <p>Currency</p>
                            <div class="h-8 flex justify-center items-center">
                                <a href="{{   path('currency', {currency: 'eur'}   )}}">EUR</a>
                            </div>
                            <div class="h-8 flex justify-center items-center">
                                <a href="{{   path('currency', {currency: 'usd'}   )}}">USD</a>
                            </div>
                            <div class="h-8 flex justify-center items-center">
                                <a href="{{   path('currency', {currency: 'czk'}   )}}">CZK</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> #}
            
        </header>

        {% block body %}

        {% endblock %}
        <footer class="w-full bg-teal-700 dark:bg-gray-900 h-24 mt-auto">

        </footer>

        <div id="login" class="hidden bg-black bg-opacity-50 target:flex fixed justify-center items-center top-0 left-0 w-full h-full z-50">
            <twig:Login loading="lazy"/>
        </div>
        <div id="cart-popup" class="hidden bg-black bg-opacity-50 flex fixed justify-center items-center top-0 left-0 w-full h-full z-50">
            <twig:CartPopup loading="lazy"/>
        </div>

    </body>
</html>
