{% extends 'layout.html.twig' %}

{% block title %}Reboot market - affordable and reliable servers, switches and IT components.{% endblock %}

{% block meta %}
    {# <meta name="turbo-cache-control" content="no-cache"> #}
    {{ parent() }}
    <meta name="description" content="Get your low-price, high-quality used network equipment with fast shipping across Europe">
{% endblock %}

{% block content %}

    {# {{  render_esi(controller('App\\Controller\\ProductFilterController::getAllFilters', {brands: brands})) }} #}

    <div id="carousel" class="">    
        <twig:Carousel />
    </div>

    <div class="flex justify-center dark:text-neutral-200">
        <div class="bg-[url('/images/banner/banner-11.png')] bg-contain p-4 w-64 h-64">
            <div class="border-2 rounded-md p-8 gap-4 flex flex-col justify-center items-center m-auto h-full">
                <p><twig:ux:icon name="bi:hand-thumbs-up" class="w-8 h-8" /></p>
                <p class="font-[500] text-xl text-center">We Deliver Right</p>
            </div>
        </div>

        <div class="bg-[url('/images/banner/banner-2.png')] bg-contain p-4 w-64 h-64">
            <div class="border-2 rounded-md p-8 gap-4 flex flex-col justify-center items-center m-auto h-full">
                <p><twig:ux:icon name="bi:bell" class="w-8 h-8" /></p>
                <p class="font-[500] text-xl text-center">Online Around the Clock.</p>
            </div>
        </div>

        <div class="bg-[url('/images/banner/banner-31.png')] bg-contain p-4 w-64 h-64">
            <div class="border-2 rounded-md p-8 gap-4 flex flex-col justify-center items-center m-auto h-full">
                <p>
                    <twig:ux:icon name="bi:emoji-sunglasses" class="w-8 h-8" />
                </p>
                <p class="font-[500] text-xl text-center">Ready to Go</p>
            </div>
        </div>
    </div>

    <div class="">
        <h2 class="font-[400] text-xl pl-14">Recently added products:</h2>
        <twig:CardsShowcase loading="defer"/>
    </div>


    <div class="flex gap-12 pr-32">
        <div class="w-4/6 leading-loose text-lg flex m-auto justify-between align-center">
            <p class="text-left">Need reliable hardware without the high price tag? We sell used servers, switches, storages, and parts that came from our own data center. We treated them with care, checked every piece, and kept only the gear that works like new.</p>
        </div>
        <div class="w-2/6">
            <img class="cloud" src="{{ asset('images/guy-on-cloud.png') }}" alt="">
        </div>
    </div>

    <div class="flex gap-8 divide-x divide-slate-700 justify-center leading-loose text-lg text-center px-12">
        <p>If the equipment doesn’t work, we’ll ship you a replacement immediately.</p>
        <p class="pl-6">You may choose one of our delivery options, arrange your own transport, or collect the order in person at our warehouse.</p>
        <p class="pl-6">Buying in bulk? Contact us and we’ll arrange a special price for you.</p>
    </div>

    <div class="relative h-[700px] -rotate-17 max-w-[100vw-70px]">
        <div class="ml-[138px] mt-[178px] text-xl font-[500] leading-loose flex gap-12 mr-20">
            <img class="block w-[calc(100vw-80px)] max-w-56 max-h-56 rounded-full" src="{{asset('images/my-image.jpg')}}" alt="">
            <div class="flex flex-col w-48 gap-8">
                <p class="">Got questions or ideas? We’re all ears and all smiles — drop us a message anytime!</p>
                <a href="">Contact us</a>
            </div>
        </div>
        <img src="{{ asset('images/strip.png')}}" alt="" class="absolute -top-8 left-16 max-w-96">
        <img class="absolute top-0 left-0 w-[820px] max-w-[820px]" src="{{ asset('images/working-card7.png') }}" alt="">
    </div>


{% endblock %}