{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.condition) }}
    {{ form_row(form.weight) }}
    {{ form_row(form.length) }}
    {{ form_row(form.price) }}
    {{ form_row(form.amount) }}
    {{ form_row(form.type) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.category) }}
    {{ form_row(form.specifications) }}
    {{ form_row(form.related) }}
    {{ form_row(form.description) }}
    <div {{ stimulus_controller('form-collection') }}
        data-form-collection-index-value="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}"
        data-form-collection-prototype-value="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"
    >
        <ul {{ stimulus_target('form-collection', 'collectionContainer') }}>
            {{  form_row(form.images)  }}
        </ul>
        <button type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>Add an Image</button>
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

