<div{{ attributes }} class="flex-auto w-60 bg-neutral-50 snap-start" data-cards-snap-target="card">
    <a href="{{ path('product.index', {id: product.id}) }}">
        <img class="h-40 object-contain" src="{{ asset(product.mainImagePath ?? '') }}" alt="Server">
    </a>

    <div class="p-4">
        <div>
            <a href="{{ path('product.index', {id: product.id}) }}">
                <span>{{    product.name    }}</span>
            </a>

        </div>
        <div class="">In stock: {{  product.amount  }}</div>
        <div class="">{{  product.price.figure  }} Dollars</div>
    </div>
</div>
