<div{{ attributes }} class="flex-none w-52 bg-zinc-50 snap-start dark:text-teal-900 rounded" data-cards-snap-target="card">
    <a href="{{ path('product.index', {id: product.id}) }}">
        <img class="h-40 w-64 object-contain" src="{{ asset(product.mainImagePath ?? '') }}" alt="Server">
    </a>

    <div class="flex flex-col gap-2 p-4">
        <div class="font-[500] text-lg">
            <a href="{{ path('product.index', {id: product.id}) }}">
                <span>{{    product.name    }}</span>
            </a>

        </div>
        <div class="">In stock: {{  product.amount  }}</div>
        <div class="font-[500]">
            {{  appCurrency.display(product.price)|format_currency(appCurrency.getActual)  }}
        </div>
    </div>
</div>
