<div  class="w-2/3 bg-white-granular p-6 rounded" {{ attributes.defaults(stimulus_controller('modal')) }} data-modal-close-value="cart-popup" >
    <div class="flex flex-row-reverse text-2xl">
        <button type="button" aria-label="Close" data-action="modal#close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="flex flex-col gap-2">
        {%  for product in this.products   %}
            <div class="flex gap-2">
                <div class="flex justify-center w-64">
                    <a href="{{ path('product.index', {id: product.id}) }}">
                        <img class="max-w-64 max-h-48 object-cover" src="{{ asset(product.image) }}" alt="Server">
                    </a>
                </div>
                <div class="flex grow items-center my-auto justify-between">
                    <div class="grow">
                        <div class="flex gap-4 font-[500]">
                            <p>{{   product.quantity   }}x</p>
                            <p>{{   product.name   }}</p>
                        </div>
                        <div class="">
                            Some description
                        </div>
                    </div>
                    <div class="text-center">
                        {{  appCurrency.display(product.price)|format_currency(appCurrency.getActual)  }}
                    </div>
                </div>
            </div>
        {%  endfor  %}
        <div class="flex flex-row-reverse font-[500] gap-2">
            <p>
                {{  appCurrency.display(this.total )|format_currency(appCurrency.getActual)  }}
            </p>
            <p>Total: </p>
        </div>
        <div class="flex flex-row-reverse mt-4">
            <a href="{{ path('checkout.index') }}"  class="rounded-full text-teal-900 bg-amber-dim px-4 w-48 text-center">
                Checkout
            </a>
        </div>
    </div>
</div>

{% macro placeholder(props) %}
    {# This content will (only) be rendered as loading content #}
    <span class="loader"></span>
{% endmacro %}

{# fixed top-1/2 left-1/2 -translate-y-1/2 #}