<div  class="fixed top-1/2 left-1/2 h-52 -translate-x-1/2 -translate-y-1/2 z-50 bg-neutral-200" {{ attributes.defaults(stimulus_controller('cart-popup')) }} >
    <!-- component html -->
    <div class="">
        <button type="button" aria-label="Close" data-action="cart-popup#close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="flex">
        <p>Name</p>
        <p>Amount</p>
        <p>Price</p>
    </div>
    {%  for product in this.products   %}
        <div class="flex">
            <p>{{   product.name   }}</p>
            <p>{{   product.amount   }}</p>
            <p>{{   product.price   }}</p>
        </div>
    {%  endfor  %}
    <div class="">
        <p>Total price: {{   this.total     }}</p>
    </div>
</div>

{% macro placeholder(props) %}
    {# This content will (only) be rendered as loading content #}
    <span class="loader"></span>
{% endmacro %}
