<div {{ attributes.defaults(stimulus_controller('cart')) }} data-action="buy:add@window->cart#add" class="cart relative w-48">
    <!-- component html -->
    <div>
        <a href="{{ path('checkout.index') }}">
            <div class="flex">
                <p>Shopping cart:</p>
                <p data-cart-target="figure">
                    {{  appCurrency.display(this.total)|format_currency(appCurrency.getActual)  }}
                </p>
            </div>
        </a>
    </div>

    <div class="cart_menu absolute right-0 p-4 bg-neutral-100 text-black z-10 min-w-64 rounded-md drop-shadow-2xl">
        <p class="border-b text-lg font-[500]">Shopping cart preview:</p>
        <div class="border-b">
            {% set prodId = -1  %}
            {%   for product in this.products   %}
                {% set prodId = prodId + 1 %}
                <div class="item-cart flex gap-4 items-center font-[400]">
                    <div class="flex w-24">
                        <a href="{{ path('product.index', {id: product.id}) }}">
                            <img class="object-cover" src="{{ asset(product.image) }}" alt="Server">
                        </a>
                    </div>
                    <div class="flex items-center gap-2 py-4">
                        <a href="{{ path('product.index', {id: product.id}) }}">{{   product.name   }}</a>
                        <div class="flex border-2 border-teal-900 rounded-md bg-none leading-none">
                            <button 
                                class="px-2 border-r-2 border-teal-900"
                                data-action="live#action"
                                data-live-action-param="decrement"
                        
                                data-live-id-param="{{ product.id }}"
                            >-</button>
                    
                            <input
                                class="bg-none border-0 p-1 w-8"
                                type="number"
                                value="{{   product.quantity   }}"
                                min="1" 
                                max="{{ product.avalible }}"
                                data-action="change->live#action"
                                data-live-action-param="setAmount"
                                data-model="product.1.quantity"
                                data-live-id-param="{{ product.id }}"
                            />
                            <button
                                class="px-2 border-l-2 border-teal-900"
                                data-action="live#action"
                                data-live-action-param="increment"
                                data-live-id-param="{{ product.id }}"
                            >+</button>
                        </div>
        
                        <p>
                            {{  appCurrency.display(product.price * product.quantity)|format_currency(appCurrency.getActual)  }}
                        </p>

                        <label class="check_box excluded_box">
                            <input type="checkbox" data-action="live#action" data-live-action-param="delete" data-live-id-param="{{ product.id }}">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            {%   endfor   %}
        </div>

        <div class="flex justify-between font-[500]">
            <p>Total:</p>

            <p>
                {{  appCurrency.display(this.total)|format_currency(appCurrency.getActual)  }}
            </p>
        </div>

        <div class="flex flex-row-reverse">
            <a href="{{ path('checkout.index') }}"  class="rounded-full text-teal-900 bg-amber-dim px-1 w-32 text-center">
                View Cart
            </a>
        </div>
    </div>
</div>
