<div {{ attributes.defaults(stimulus_controller('cart')) }} data-action="buy:add@window->cart#add" class="cart relative w-48">
    <!-- component html -->
    <div>
        <a href="{{ path('checkout.index') }}">
            <div class="flex">
                <p>Shopping cart:</p>
                <p data-cart-target="figure">
                    {{  appCurrency.display(this.total)|format_currency(appCurrency.getActual)  }}
                </p>
            </div>
        </a>
    </div>

    <div class="cart_menu absolute right-0 p-4 bg-neutral-100 text-black z-10 min-w-64 rounded-md drop-shadow-2xl">
        <p class="border-b text-lg font-[500]">Shopping cart preview:</p>
        <div class="border-b">
            {% for product in this.products %}
                <twig:CartProduct
                    :product="product"
                    id="product-{{ product.id }}-{{ product.quantity }}"
                />
            {% endfor %}
        </div>

        <div class="flex justify-between font-[500]">
            <p>Total:</p>

            <p>
                {{  appCurrency.display(this.total)|format_currency(appCurrency.getActual)  }}
            </p>
        </div>

        <div class="flex flex-row-reverse">
            <a href="{{ path('checkout.index') }}"  class="rounded-full text-teal-900 bg-amber-dim px-1 w-32 text-center">
                Checkout
            </a>
        </div>
    </div>
</div>
