<div  class="w-2/3 bg-neutral-200" {{ attributes.defaults(stimulus_controller('modal')) }} data-modal-close-value="cart-popup" >
    {{   this.setProductsAndTotal   }}
    <div class="">
        <button type="button" aria-label="Close" data-action="modal#close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="flex">
        <p>Name</p>
        <p>Amount</p>
        <p>Price</p>
    </div>
    {%  for product in this.products   %}
        <div class="flex">
            <p>{{   product.name   }}</p>
            <p>{{   product.amount   }}</p>
            <p>{{   product.price   }}</p>
        </div>
    {%  endfor  %}
    <div class="">
        <p>Total price: {{   this.total     }}</p>
    </div>
</div>

{% macro placeholder(props) %}
    {# This content will (only) be rendered as loading content #}
    <span class="loader"></span>
{% endmacro %}

{# fixed top-1/2 left-1/2 -translate-y-1/2 #}