<div{{ attributes }} class="item-cart flex gap-4 items-center font-[400]">
        <div class="flex w-24">
            <a href="{{ path('product.index', {id: product.id}) }}">
                <img class="object-cover" src="{{ asset(product.image) }}" alt="Server">
            </a>
        </div>
        <div class="flex items-center gap-2 py-4">
            <a href="{{ path('product.index', {id: product.id}) }}">{{   product.name   }}</a>
            <div class="flex border-2 border-teal-900 rounded-md bg-none leading-none">
                <button 
                    class="px-2 border-r-2 border-teal-900"
                    data-action="live#action"
                    data-live-action-param="decrement"
                >-</button>
        
                <input
                    class="bg-none border-0 p-1 w-8"
                    type="number"
                    min="1" 
                    max="{{ product.avalible }}"
                    data-action="change->live#action"
                    data-live-action-param="setAmount"
                    data-model="on(change)|product.quantity"
                />
                <button
                    class="px-2 border-l-2 border-teal-900"
                    data-action="live#action"
                    data-live-action-param="increment"
                >+</button>
            </div>

            <p>
                {{  appCurrency.display(product.price * product.quantity)|format_currency(appCurrency.getActual)  }}
            </p>

            <label class="check_box excluded_box">
                <input type="checkbox" data-action="live#action" data-live-action-param="delete" data-live-id-param="{{ product.id }}">
                <span class="checkmark"></span>
            </label>
        </div>
</div>
