<div {{ attributes.defaults(stimulus_controller('catalog-tree')) }} data-action="catalog:renew@window->catalog-tree#renew catalog:loadProducts->catalog#loadProducts">
    <nav class="inline-block w-full bg-neutral-50 drop-shadow-2xl rounded-md text-nowrap text-base" data-action="click->catalog-tree#onClick" >
        <twig:NavMenu :categories="this.catalog" offset="3" />
    </nav>
    
    {# <nav class="inline-block w-full bg-neutral-50 drop-shadow-2xl rounded-md text-nowrap">
        <div data-action="click->catalog-tree#onClick" class="text-base">
            {% for category in this.catalog %}
                <li >
                    <button 
                        class="w-full menu-button flex items-center justify-between p-3 transition border-b hover:border-slate-300 hover:bg-neutral-100 {{ category.children is defined ? 'menu_parent' : '' }}"
                        id="{{category.id}}" data-catalog-tree-target="node" 
                    >
                    <div class="flex items-center">
                        <twig:ux:icon name="catalog:{{  category.name|u.camel.lower }}" class="w-4 h-4 mr-2" />
                        <p class="hover:underline font-upnormal">{{ category.name }}</p>
                        <div class="flex pl-4">
                            <label class="check_box included_box active_box">
                                <input type="checkbox" data-action="catalog-tree#check" data-catalog-tree-exclude-param="false" data-catalog-tree-id-param="{{ category.id }}">
                                <span class="checkmark"></span>
                            </label>
                            <label class="check_box excluded_box">
                                <input type="checkbox" data-action="catalog-tree#check" data-catalog-tree-exclude-param="true" data-catalog-tree-id-param="{{ category.id }}">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    </button>
                    {% if category.children is defined %}
                        <twig:NavMenu :categories="category.children" offset="10" />
                    {% endif %}
                </li>
            {% endfor %}
        </div>
    </nav> #}
</div>