<div {{ attributes.defaults(stimulus_controller('catalog-tree')) }} data-action="catalog:renew@window->catalog-tree#renew catalog:loadProducts->catalog#loadProducts">
    <nav class="inline-block w-full bg-stone-200 border border-neutral-300 rounded-md shadow-xl text-nowrap">
        <ul data-action="click->catalog-tree#onClick" class="text-base leading-10">
            {% for category in this.catalog %}
                <li >
                    <button 
                        class="w-full menu-button flex items-center pl-3 transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300"
                        id="{{category.id}}" data-catalog-tree-target="node" 
                    >
                            <p class="hover:underline">{{ category.name }}</p>
                            <div class="flex pl-4">
                                <label class="check_box included_box active_box">
                                    <input type="checkbox" data-action="catalog-tree#check" data-catalog-tree-exclude-param="false" data-catalog-tree-id-param="{{ category.id }}">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="check_box excluded_box">
                                    <input type="checkbox" data-action="catalog-tree#check" data-catalog-tree-exclude-param="true" data-catalog-tree-id-param="{{ category.id }}">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                    </button>
                    {% if category.children is defined %}
                        <twig:NavMenu :categories="category.children" offset="6" />
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>