<div class="hidden bg-stone-100" {{ attributes }}>
    {% for category in categories %}
        <div>
            <button 
                class="w-full flex items-center pl-{{ offset }} transition hover:bg-neutral-100 hover:border-slate-400 hover:border-slate-300"
                id="{{category.id}}" data-catalog-tree-target="node"
            >
                <p class="hover:underline">{{ category.name }}</p>

                <div class="flex pl-4">

                    <label class="check_box included_box active_box">
                        <input type="checkbox" data-action="catalog-tree#check" data-catalog-tree-exclude-param="false" data-catalog-tree-id-param="{{ category.id }}">
                        <span class="checkmark"></span>
                    </label>
                    <label class="check_box excluded_box">
                        <input type="checkbox" data-action="catalog-tree#check" data-catalog-tree-exclude-param="true" data-catalog-tree-id-param="{{ category.id }}">
                        <span class="checkmark"></span>
                    </label>

                </div>
            </button>
            {% if category.children is defined %}
                <twig:NavMenu :categories="category.children" offset="{{ offset + 3 }}"/>
            {% endif %}
        </div>
    {% endfor %}
</div>
