<div {{ attributes.defaults(stimulus_controller('product')) }}>
    <h1>Product List</h1>

    <ul>
        {% for product in products.currentPageResults %}
            <li><strong>{{  product.name    }}</strong></li>
        {% else %}
            <li>No products found.</li>
        {% endfor %}
    </ul>

    {% if products.haveToPaginate %}

    {{ 'Current page :' ~ products.currentPage  }}
    {{ 'Number of pages :' ~ products.nbPages  }}

    <div class="flex">
        {% if products.hasPreviousPage %}
        <button class="" data-model="page" data-action="live#action" data-live-action-param="getProducts" data-live-page-param="{{  products.previousPage   }}">
            {{  products.previousPage   }}
        </button>
        {% endif %}

        {%  for i in range(products.currentPage, products.nbPages)  %}
        <button class="" data-model="page" data-action="live#action" data-live-action-param="getProducts" data-live-page-param="{{  i   }}">
            {{  i   }}
        </button>
        
        {%  endfor   %}
    </div>
    {% endif %}

</div>
