<div {{ attributes.defaults(stimulus_controller('product')) }}  data-action="catalog:setMax@window->product#setNewMax product:update->product#setNewMaxAndClearScroll"
    class="relative"    
>
    <span data-loading class="loader"></span>


    {%  set paginator = this.products  %}
    <div data-loading="addClass(blur)">
        <div class="flex flex-wrap gap-4" >
            {% for product in paginator.currentPageResults %}
                <twig:Card :product="product"/>
                {% else %}
                <p>No products found.</p> 
            {% endfor %}
        </div>
        <div id="product_scroll" data-product-target="scroll" class="flex flex-wrap gap-4">
            
        </div>
    </div>

    {# {% if paginator.haveToPaginate %}

    {{ 'Current page :' ~ paginator.currentPage  }}
    {{ 'Number of pages :' ~ paginator.nbPages  }}

    <div class="flex">
        {% if paginator.hasPreviousPage %}
        <button class="" type="button" data-action="live#update" data-model="page" data-value="{{  paginator.previousPage   }}">
            {{  paginator.previousPage   }}
        </button>
        {% endif %}

        {%  for i in range(paginator.currentPage, paginator.nbPages)  %}
        <button class="" data-action="live#update" data-model="page" data-value="{{  i   }}" type="button">
            {{  i   }}
        </button>
        
        {%  endfor   %}
    </div>
    {% endif %} #}

</div>
