<div {{ attributes.defaults(stimulus_controller('product')) }} data-action="filter:new@window->product#filter">
    <h1>Product List</h1>

    <div class="flex items-center justify-around">
        {% if not this.filters is empty   %}
        <div class="">{{    this.query  }}</div>
        {%  endif   %}
        {%  if not this.categories is empty   %}
        <div class="">categories are on</div>
        {%  endif   %}
        {% if not this.filters is empty   %}
        <div class="">filters</div>
        {%  endif   %}
    </div>

    {%  set paginator = this.products  %}
    <ul>
        {% for product in paginator.currentPageResults %}
            <li><strong>{{  product.name    }}</strong></li>
        {% else %}
            <li>No products found.</li>
        {% endfor %}
    </ul>

    {% if paginator.haveToPaginate %}

    {{ 'Current page :' ~ paginator.currentPage  }}
    {{ 'Number of pages :' ~ paginator.nbPages  }}

    <div class="flex">
        {% if paginator.hasPreviousPage %}
        <button class="" type="button" data-action="live#update" data-model="page" data-value="{{  paginator.previousPage   }}">
            {{  paginator.previousPage   }}
        </button>
        {% endif %}

        {%  for i in range(paginator.currentPage, paginator.nbPages)  %}
        <button class="" data-action="live#update" data-model="page" data-value="{{  i   }}" type="button">
            {{  i   }}
        </button>
        
        {%  endfor   %}
    </div>
    {% endif %}

</div>
