<div{{ attributes }} class="flex h-20 gap-4 items-center mt-4">
    <!-- component html -->
    <div class="h-20">
        <a href="{{ path('product.index', {id: product.id}) }}">
            <img class="object-contain w-full h-full" src="{{ asset(product.mainImagePath) }}" alt="Product Image">
        </a>
    </div>
    <div class="grow">
        <div>{{   product.name   }}</div>
        <div>Amount: {{   product.amountInCart  }}</div>
    </div>
    <div class="">
        <p>
            {{  appCurrency.adjustPrice(this.totalSum)|format_currency(appCurrency.getActual)  }}
            {# {{  (product.amountInCart * product.money.displayPrice)|format_currency(product.money.currency) }} #}
        </p>
    </div>
</div>
